In [7]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import clear_output
%matplotlib inline
import math

1 - Crie um objeto do tipo subplots do matplotlib com 4 eixos, ocupando duas linhas e duas colunas.  
Plote em cada eixo as funções seno, cosseno, tangente e cotangente no intervalo de $ -2\pi $ à $ +2\pi $  
Se necessário, consulte [esta](https://docs.scipy.org/doc/numpy-1.13.0/reference/routines.math.html) página.

In [30]:
f, axarr = plt.subplots(2, 2)
a=np.linspace(0,4*np.pi)
axarr[0, 0].plot(a,np.cos(a))
axarr[0, 0].set_title('Cosseno')
axarr[0, 1].scatter(a,np.sin(a))
axarr[0, 1].set_title('Seno')
axarr[1, 0].plot(a,np.tan(a))
axarr[1, 0].set_title('Tangente')
axarr[1, 1].scatter(a,((np.cos(a))/(np.sin(a)))
axarr[1, 1].set_title('Cotangente')
#Fine-tune figure; hide x ticks for top plots and y ticks for right plots
plt.show()

SyntaxError: invalid syntax (<ipython-input-30-9a00ebd23e27>, line 10)

2 - Crie objetos [Matrix](https://docs.scipy.org/doc/numpy/reference/generated/numpy.matrix.html) e [Array](https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.array.html) a partir das listas criadas abaixo.  
Mostre que a multiplicação dos objetos Array e Matrix apresentam resultados diferentes.

In [13]:
lista1 = [[1,5,3],[3,-6,1],[4,8,9]] 
lista2 = [[1,3,3],[2,6,8],[1,1,-9]]

In [18]:
a1=np.array(lista1)

In [19]:
a2=np.array(lista2)

In [23]:
a1*a2

array([[  1,  15,   9],
       [  6, -36,   8],
       [  4,   8, -81]])

In [21]:
a3=np.matrix(lista1)

In [22]:
a4=np.matrix(lista2)

In [24]:
a3*a4

matrix([[ 14,  36,  16],
        [ -8, -26, -48],
        [ 29,  69,  -5]])

3 - Transforme um dos objetos Array anteriormente criados em um objeto [DataFrame](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html) do [Pandas](http://pandas.pydata.org/), utilizando como índices das linhas e como título das colunas os valores das listas criadas abaixo, respectivamente.

In [ ]:
linhas = ['linha1', 'linha2', 'linha3']
colunas = ['coluna1','coluna2', 'coluna2']

In [26]:
frame2 = pd.DataFrame(a1*a2, columns=['coluna1','coluna2', 'coluna2']  ,index=['linha1', 'linha2', 'linha3'])
frame2

        coluna1  coluna2  coluna2
linha1        1       15        9
linha2        6      -36        8
linha3        4        8      -81

4 - Exporte este DataFrame criado para um arquivo em formato html

In [27]:
frame2.to_html

<bound method DataFrame.to_html of         coluna1  coluna2  coluna2
linha1        1       15        9
linha2        6      -36        8
linha3        4        8      -81>