1 - Dadas uma lista qualquer, como a do exemplo abaixo:

In [ ]:
lista = [1,2,3,'4',5,6.3,7.4 + 2j,"123",[1,2,3], 93, "98", (1,2,3,'4')]

Crie uma função recursiva para imprimir o antecessor e o sucessor de cada elemento de uma lista:
+ Caso este elemento seja inteiro, imprimir o valor;  
+ Caso seja uma string, imprimir o inteiro correspondente;  
+ Caso seja um real, imprima a parte inteira;
+ Caso seja um imaginário, imprima a parte inteira e real;
+ Caso seja uma sequência, aplique as regras acima para cada elemento da sequência.

In [ ]:
def recursiva(a):
    for x in [1,2,3,'4',5,6.3,7.4 + 2j,"123",[1,2,3], 93, "98", (1,2,3,'4')][1:12]:
        if type(x)==int:
            print(x)
        elif type(x)==str:
            print(int(x))
        elif type(x)==complex:
            print(int(x.real))
        else:
            print(list(recursiva(x))
    for y in [1,2,3,'4',5,6.3,7.4 + 2j,"123",[1,2,3], 93, "98", (1,2,3,'4')][0:11]:
        if type(x)==int:
            print(x)
        elif type(x)==str:
            print(int(x))
        elif type(x)==complex:
            print(int(x.real))
        else:
            print(list(recursiva(y))

2 - Crie uma função, ou conjunto de funções, para exibir por extenso o valor de qualquer número inteiro até 1000.  
Exemplo:  

    print(imprime_extenso(234))  
    > 'duzentos e trinta e quatro'

In [20]:
def extenso(a):
    lista=[]
    a=str(a)
    for numero in a:
        lista.append(numero)
    print(lista)
    if len(lista)==4:
        return 'mil'
    elif len(lista)==3:
        return centena(lista[0],lista[2],lista[1])+dezena(lista[1],lista[2])+unidade(lista[2])
    elif len(lista)==2:
        return dezena(lista[0],unidade[1])+unidade(lista[1])
    else:
        return unidade(lista[0])

In [3]:
def unidade(u):
    u=int(u)
    if u==0:
        pass
    if u==1:
        return 'um'
    if u==2:
        return 'dois'
    if u==3:
        return 'tres'
    if u==4:
        return 'quatro'
    if u==5:
        return 'cinco'
    if u==6:
        return 'seis'
    if u==7:
        return 'sete'
    if u==8:
        return 'oito'
    if u==9:
        return 'nove'

In [2]:
def dezena(d,u):
    d=int(d)
    u=int(u)
    if d==0:
        pass
    if d==1:
        if u==0:
            return 'dez'
        if u==1:
            return 'onze'
        if u==2:
            return 'doze'
        if u==3:
            return 'treze'
        if u==4:
            return 'quatorze'
        if u==5:
            return 'quinze'
        if u==6:
            return 'dezesseis'
        if u==7:
            return 'dezessete'
        if u==8:
            return 'dezoito'
        if u==9:
            return 'dezenove'
    if d==2:
        if u==0:
            return 'vinte'
        else:
            return 'vinte e'
    if d==3:
        if u==0:
            return 'trinta'
        else:
            return 'trinta e'
    if d==4:
        if u==0:
            return 'quarenta'
        else:
            return 'quarenta e'
    if d==5:
        if u==0:
            return 'cinquenta'
        else:
            return 'cinquenta e'
    if d==6:
        if u==0:
            return 'sessenta'
        else:
            return 'sessenta e '
    if d==7:
        if u==0:
            return 'setenta'
        else:
            return 'setenta e'
    if d==8:
        if u==0:
            return 'oitenta'
        else:
            return 'oitenta e'
    if d==9:
        if u==0:
            return 'noventa'
        else:
            return 'noventa e'

In [1]:
def centena(c,d,u):
    c=int(c)
    d=int(d)
    u=int(u)
    if c==0:
        pass
    if c==1:
        if d!=0 or u!=0:
            return 'cento e'
        else:
            return 'cem'
    if c==2:
        if d!=0 or u!=0:
            return 'duzentos e'
        else:
            return 'duzentos'
    if c==3:
        if d!=0 or u!=0:
            return 'trezentos e'
        else:
            return 'trezentos'
    if c==4:
        if d!=0 or u!=0:
            return 'quatrocentos e'
        else:
            return 'quatrocentos'
    if c==5:
        if d!=0 or u!=0:
            return 'quinhentos e'
        else:
            return 'quinhentos'
    if c==6:
        if d!=0 or u!=0:
            return 'seiscentos e'
        else:
            return 'seiscentos'
    if c==7:
        if d!=0 or u!=0:
            return 'setecentos e'
        else:
            return 'setecentos'
    if c==8:
        if d!=0 or u!=0:
            return 'oitocentos e'
        else:
            return 'oitocentos'
    if c==9:
        if d!=0 or u!=0:
            return 'novecentos e'
        else:
            return 'novecentos'

3- Em alguns lugares é comum lembrar um número do telefone associando seus dígitos a letras. Dessa maneira a expressão MY LOVE significa 69 5683. Claro que existem alguns problemas, uma vez que alguns números de telefone não formam uma palavra ou uma frase e os dígitos 1 e 0 não estão associados a nenhuma letra.  

Sua tarefa é ler uma expressão e encontrar o número de telefone correspondente baseado na tabela abaixo. Uma expressão é composta por letras maiúsculas (A-Z), hifens (-) e os números 1 e 0.  

Letras  ->  Número  
ABC    ->  2   
DEF    ->  3   
GHI    ->  4   
JKL    ->  5   
MNO    ->  6   
PQRS    ->  7   
TUV    ->  8   
WXYZ   ->  9   

Entrada  

A entrada consiste de um conjunto de expressões. Cada expressão está sozinha em uma linha e possui C caracteres, onde 1 ≤ C ≤ 30. A entrada é terminada por fim de arquivo (EOF).  

Saída  

Para cada expressão você deve imprimir o número de telefone correspondente.  

Exemplo de entrada:  

1-HOME-SWEET-HOME  
MY-MISERABLE-JOB  

Saída correspondente:

1-4663-79338-4663  
69-647372253-562

In [27]:
def troca(frase):
    frase=str(frase)
    for letra in frase:
        if letra == 'A' or letra == 'B' or letra== 'C':
            frase = frase.replace(letra,'2')
        if letra == 'D' or letra == 'E' or letra== 'F':
            frase = frase.replace(letra,'3')
        if letra == 'G' or letra == 'H' or letra== 'I':
            frase = frase.replace(letra,'4')
        if letra == 'J' or letra == 'K' or letra== 'L':
            frase = frase.replace(letra,'5')
        if letra == 'M' or letra == 'N' or letra== 'O':
            frase = frase.replace(letra,'6')
        if letra == 'P' or letra == 'Q' or letra== 'R' or letra== 'S':
            frase = frase.replace(letra,'7')
        if letra == 'T' or letra == 'U' or letra== 'V':
            frase = frase.replace(letra,'8')
        if letra == 'W' or letra == 'X' or letra== 'Y' or letra=='Z':
            frase = frase.replace(letra,'9')
    return frase

In [33]:
troca('1-HOME-SWEET-HOME-MY-MISERABLE-JOB')

'1-4663-79338-4663-69-647372253-562'

4- Dada um texto em formato string, encontre todas as palavras pertencentes a esta string que contenham uma determinada letra, passada como parâmetro.

In [41]:
texto= 'um dia encontraremos a paz que tanto almejamos'

In [77]:
def encontre(p):
    p=str(p)
    lista=[]
    texto= 'um dia encontraremos a paz que tanto almejamos'
    for palavra in texto.split():
        if palavra.find(p)!=-1:
            lista.append(palavra)
        else:
            continue
    return lista

In [81]:
encontre('n')

['encontraremos', 'tanto']